back/.flows.json.backup
[
    {
        "id": "e771a27fee406b2a",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07eae8f9fe820c4e",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "dashboard",
        "url": "/dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "ef41793ff7ea5a80"
            ]
        ]
    },
    {
        "id": "ef41793ff7ea5a80",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "Montar-JWT",
        "func": "var authHeader = msg.req.headers.authorization;\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.payload = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "85884d926390e238"
            ]
        ]
    },
    {
        "id": "85884d926390e238",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "payload",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "ee7ca56abe9406f2"
            ]
        ]
    },
    {
        "id": "daafb42cae8476ed",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "",
        "headers": {},
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee7ca56abe9406f2",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "Retorno-JWT",
        "func": "msg.payload = {\n    status: \"success\",\n    data: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "daafb42cae8476ed"
            ]
        ]
    },
    {
        "id": "58d4f9ef4ce89af9",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "inserir-usuario",
        "url": "/inserir-usuario",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "2798835ee8a62017"
            ]
        ]
    },
    {
        "id": "ed4e5d5a240372ba",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 480,
        "wires": []
    },
    {
        "id": "7660d8bc47aa36d6",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 7",
        "func": "let payload = msg.payload;\n\nif (!payload.name || !payload.password) {\n    msg.payload = { error: \"Campos obrigatórios: name, password.\" };\n    return [null, msg];\n}\n\nconst user = {\n    uuid: Date.now().toString(),\n    name: payload.name,\n    password: payload.password,\n    isActived: payload.isActived,\n    isRoot: payload.isRoot || \"false\",\n    roles: payload.roles,\n    creationDate: new Date().toISOString()\n};\n\nlet usuarios = flow.get('users', 'file') || [];\n\nif (!Array.isArray(usuarios)) {\n    usuarios = [];\n}\n\nusuarios.push(user);\n\nflow.set('users', usuarios, 'file');\n\nmsg.payload = user;\n\nreturn [msg, null];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 480,
        "wires": [
            [
                "ed4e5d5a240372ba"
            ]
        ]
    },
    {
        "id": "2f2b4577e66c6063",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "listar-usuarios",
        "url": "/listar-usuarios",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "22b91667282cd53c"
            ]
        ]
    },
    {
        "id": "930307daf030c5a9",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "22b91667282cd53c",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 8",
        "func": "msg.payload = flow.get('users', 'file');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 600,
        "wires": [
            [
                "930307daf030c5a9"
            ]
        ]
    },
    {
        "id": "a9ba72bed6e2feca",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "deletar-usuario-id",
        "url": "/deletar-usuario-id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "3a0b8b5abc860260"
            ]
        ]
    },
    {
        "id": "849b98a3bb34bf09",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 540,
        "wires": []
    },
    {
        "id": "5718d44be8d4de38",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 10",
        "func": "let usuarios = flow.get('users', 'file') || [];\n\nif (!Array.isArray(usuarios)) {\n    usuarios = [];\n}\n\nconst uuid = msg.request.uuid;\nif (!uuid) {\n    msg.payload = { error: \"UUID não informado\" };\n    return msg;\n}\n\nlet u = usuarios.find(i => i.uuid === uuid);\n\nif (u) {\n    usuarios = usuarios.filter(i => i.uuid !== uuid);\n\n    flow.set('users', usuarios, 'file');\n\n    msg.payload = { success: true, message: \"Usuário removido com sucesso.\" };\n} else {\n    msg.payload = { error: \"Usuário não encontrado.\" };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 540,
        "wires": [
            [
                "849b98a3bb34bf09"
            ]
        ]
    },
    {
        "id": "2798835ee8a62017",
        "type": "bcrypt",
        "z": "e771a27fee406b2a",
        "name": "",
        "action": "encrypt",
        "field": "password",
        "hash": "payload",
        "target": "password",
        "assignment": "replace",
        "match": "match",
        "outputs": 1,
        "rounds": "5",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "7660d8bc47aa36d6"
            ]
        ]
    },
    {
        "id": "ee6db109f6b31ba7",
        "type": "inject",
        "z": "e771a27fee406b2a",
        "name": "colors-inject",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "8b456eb5bfe06708"
            ]
        ]
    },
    {
        "id": "8b456eb5bfe06708",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "table-colors",
        "func": "const colors = [\n  { uuid: global.get('uuid').v4(), colorName: 'Preto' },\n  { uuid: global.get('uuid').v4(), colorName: 'Branco' },\n  { uuid: global.get('uuid').v4(), colorName: 'Vermelho' },\n  { uuid: global.get('uuid').v4(), colorName: 'Cinza' },\n  { uuid: global.get('uuid').v4(), colorName: 'Azul' }\n];\n\nglobal.set('colorsTable', colors);\n\nmsg.payload = \"Tabela de COLORS carregada.\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "22f1418d46eabb50"
            ]
        ]
    },
    {
        "id": "22f1418d46eabb50",
        "type": "debug",
        "z": "e771a27fee406b2a",
        "name": "Debug Init",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd6a73b25168887c",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "table-models",
        "func": "const colors = [\n  { uuid: global.get('uuid').v4(), modelName: 'T-Cross' },\n  { uuid: global.get('uuid').v4(), modelName: 'Nivus' },\n  { uuid: global.get('uuid').v4(), modelName: 'Polo' },\n  { uuid: global.get('uuid').v4(), modelName: 'Virtus' },\n  { uuid: global.get('uuid').v4(), modelName: 'Saveiro' },\n  { uuid: global.get('uuid').v4(), modelName: 'Track' }\n];\n\nglobal.set('modelsTable', colors);\n\nmsg.payload = \"Tabela de MODELS carregada.\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "e4ef9b9b757f6773"
            ]
        ]
    },
    {
        "id": "e77304bacf005b68",
        "type": "inject",
        "z": "e771a27fee406b2a",
        "name": "models-inject",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "bd6a73b25168887c"
            ]
        ]
    },
    {
        "id": "e4ef9b9b757f6773",
        "type": "debug",
        "z": "e771a27fee406b2a",
        "name": "Debug Init",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "bcc2e62901cb0f68",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "usuario-id",
        "url": "/usuario-id",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 660,
        "wires": [
            [
                "efc2ecc451caab37"
            ]
        ]
    },
    {
        "id": "fb009c7556ac4451",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 660,
        "wires": []
    },
    {
        "id": "b7ccf828195daa9d",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 2",
        "func": "let uuid = msg.request.uuid;\n\nconst usuarios = flow.get('users', 'file') || [];\n\nif (!uuid) {\n    msg.payload = { error: \"UUID não informado\" };\n    return msg;\n}\n\nlet usuario = usuarios.find(user => user.uuid === uuid);\n\n\nif(usuario) {\n    msg.payload = {\n        'message': 'usuario identificado',\n        'usuario': usuario\n    }\n    return msg\n}\n\nmsg.payload = {\n    'message': 'Usuario inexistente'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 660,
        "wires": [
            [
                "fb009c7556ac4451"
            ]
        ]
    },
    {
        "id": "a9383d9f2e063f8e",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "remover-veiculo-id",
        "url": "/remover-veiculo-id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 880,
        "wires": [
            [
                "d1f8619815780db1"
            ]
        ]
    },
    {
        "id": "d1f8619815780db1",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 1",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 880,
        "wires": [
            [
                "fe527af7383f65a9"
            ]
        ]
    },
    {
        "id": "6536798f2570ce67",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "exclusao-veiculo",
        "func": "let veiculos = flow.get('veiculo') || [];\n\nif (!Array.isArray(veiculos)) {\n    veiculos = [];\n}\n\nconst uuid = msg.request.uuid;\n\nif (!uuid) {\n    msg.payload = { error: \"UUID não informado.\" };\n    return msg;\n}\n\nconst existe = veiculos.find(v => v.uuid === uuid);\n\nconsole.log('estamos aqui', veiculos)\n\n\nif (existe) {\n    veiculos = veiculos.filter(v => v.uuid !== uuid);\n    flow.set('veiculo', veiculos);\n\n    msg.payload = { success: true, message: \"Veículo removido com sucesso.\" };\n} else {\n    msg.payload = { error: \"Veículo não encontrado.\" };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 880,
        "wires": [
            [
                "77d797dfad31c3fc"
            ]
        ]
    },
    {
        "id": "77d797dfad31c3fc",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "Gerar-log",
        "func": "const now = new Date().toISOString();\nconst userName = msg.payload.userName;\nconst route = \"/veiculos/inserir\";\n\nconst logEntry = `[${now}][${userName}][${route}]: ${JSON.stringify(msg.payload)}`;\nlet logs = flow.get(\"logs\") || [];\nlogs.push(logEntry);\nflow.set(\"logs\", logs);\n\nmsg.payload = {\n    dateTime: now,\n    userName: msg.payload.userName,\n    route: '/veiculos/excluir',\n    data: now\n};\n\nflow.set('Logs', 'default')\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 880,
        "wires": [
            [
                "8a59134bcd54faba"
            ]
        ]
    },
    {
        "id": "8a59134bcd54faba",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "",
        "headers": {},
        "x": 1080,
        "y": 880,
        "wires": []
    },
    {
        "id": "aaa8c237613f7719",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 5",
        "func": "try {\n  const modelsTable = global.get('modelsTable') || [];\n  const colorTable = global.get('colorsTable') || [];\n\n  let veiculos = flow.get('veiculo') || [];\n  let request = msg.request;\n  let creationDate = new Date().toISOString();\n\n  const corEncontrada = colorTable.find(item => (item.colorName || '').toLowerCase() === request.colorName.toLowerCase());\n  const modeloEncontrado = modelsTable.find(item => (item.modelName || '').toLowerCase() === request.modelName.toLowerCase());\n\n  if (!modeloEncontrado || !corEncontrada) {\n    msg.payload = {\n      status: 'erro',\n      message: `O campo 'modeloEncontrado' ou 'corEncontrada' não podem estar nulos.`\n    };\n    return msg;\n  }\n\n  const novoVeiculo = {\n    uuid: Date.now().toString(),\n    creationUserName: request.creationUserName,\n    updateUserName: request.updateUserName,\n    creationDate: creationDate,\n    model: modeloEncontrado,\n    color: corEncontrada,\n    year: request.year,\n    imagePath: request.imagePath\n  };\n\n  veiculos.push(novoVeiculo);\n\n  console.log('asdfasd', veiculos)\n\n  flow.set('veiculo', veiculos);\n\n  msg.payload = {\n    status: 'sucesso',\n    message: \"Veículo inserido com sucesso!\",\n    total: veiculos.length,\n    veiculo: novoVeiculo\n  };\n  return msg;\n\n} catch (err) {\n  msg.payload = { status: 'erro', message: \"Erro ao inserir veículo: \" + err.message };\n  return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 760,
        "wires": [
            [
                "da434780bf5badd5"
            ]
        ]
    },
    {
        "id": "063999c33dd1cf88",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "inserir-veiculo",
        "url": "/inserir-veiculo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "994f2b227115dc48"
            ]
        ]
    },
    {
        "id": "c24ce0c9eb711bba",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 760,
        "wires": []
    },
    {
        "id": "994f2b227115dc48",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 760,
        "wires": [
            [
                "fe5513e8b01be357"
            ]
        ]
    },
    {
        "id": "fe5513e8b01be357",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 500,
        "y": 760,
        "wires": [
            [
                "aaa8c237613f7719"
            ]
        ]
    },
    {
        "id": "da434780bf5badd5",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "Gerar-log",
        "func": "const now = new Date().toISOString();\nconst userName = msg.payload.userName;\nconst route = \"/veiculos/inserir\";\n\nconst logEntry = `[${now}][${userName}][${route}]: ${JSON.stringify(msg.payload)}`;\n\nlet logs = flow.get(\"logs\") || [];\n\nlogs.push(logEntry);\n\nflow.set(\"logs\", logs);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 760,
        "wires": [
            [
                "c24ce0c9eb711bba"
            ]
        ]
    },
    {
        "id": "d3e38b360fbae5dc",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "listar-veiculos",
        "url": "/listar-veiculos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "6c683a78c4fff1fe"
            ]
        ]
    },
    {
        "id": "6c683a78c4fff1fe",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 820,
        "wires": [
            [
                "7c1502a697e580f8"
            ]
        ]
    },
    {
        "id": "416ee531ccb7dcc6",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 6",
        "func": "let veiculos = flow.get('veiculo') || [];\n\nif (!Array.isArray(veiculos)) {\n  veiculos = [];\n}\n\nmsg.payload = veiculos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 820,
        "wires": [
            [
                "cd8d5dd2c1e92c9d"
            ]
        ]
    },
    {
        "id": "cd8d5dd2c1e92c9d",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 820,
        "wires": []
    },
    {
        "id": "440b9d10266c5458",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "alterar-usuario",
        "url": "/alterar-usuario",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "74415834210c7a06"
            ]
        ]
    },
    {
        "id": "ae1a2dce88636532",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 4",
        "func": "let usuarios = flow.get('users', 'file') || [];\nlet updateDate = new Date().toISOString();\n\nif (!Array.isArray(usuarios)) {\n    usuarios = [];\n}\n\nlet requisicao = msg.request;\nconst uuid = requisicao.uuid;\n\nif (!uuid) {\n    msg.payload = { error: \"UUID não informado\" };\n    return msg;\n}\n\nlet u = usuarios.find(i => i.uuid === uuid);\nlet usuarioAlterado;\n\nif (u) {\n\n    requisicao.uuid = uuid;\n    requisicao.updateDate = updateDate;\n    requisicao.creationDate = u.creationDate;\n    \n    console.log('asdfasdf', requisicao)\n    console.log('asdfasdf', u)\n\n    usuarios = usuarios.filter(i => i.uuid !== uuid);\n    usuarios.push(requisicao);\n    flow.set('users', usuarios, 'file')\n} else {\n    msg.payload = { error: \"Usuário não encontrado\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "3176f7dc4c9017d7"
            ]
        ]
    },
    {
        "id": "74415834210c7a06",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 420,
        "wires": [
            [
                "d898e96cde341d69"
            ]
        ]
    },
    {
        "id": "d898e96cde341d69",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "ae1a2dce88636532"
            ]
        ]
    },
    {
        "id": "2850e51dc8b3dbda",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "9d147b0d677bee97",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "fae8ccc85c33ef61"
            ]
        ]
    },
    {
        "id": "fae8ccc85c33ef61",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 11",
        "func": "let usuarios = flow.get('users', 'file') || [];\nlet usuarioRequest = msg.payload;\nlet usuarioBase\n\nlet user = (usuarios.find(i =>\n    i.name === usuarioRequest.name && i.password === usuarioRequest.password)\n)\n\n\nif (!Array.isArray(usuarios)) {\n    usuarios = [];\n}\n\nif (!user) {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Invalid credentials\" };\n    return [null, msg];\n}\n\nmsg.user = {\n    name: user.name,\n    roles: user.roles\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "4bbc06ba0a7cefc6"
            ]
        ]
    },
    {
        "id": "ba6d3e4576690e8d",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "4bbc06ba0a7cefc6",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "Gerar JWT",
        "func": "msg.jwtSecret = \"minha_chave_secreta\";\nmsg.jwtOptions = { expiresIn: \"1h\" };\n\nmsg.payload = msg.user;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "664438f386876268"
            ]
        ]
    },
    {
        "id": "664438f386876268",
        "type": "jwt sign",
        "z": "e771a27fee406b2a",
        "name": "jwt",
        "algorithm": "HS256",
        "mode": "secret",
        "secret": "minha_chave_secreta",
        "secretType": "str",
        "privateKey": "",
        "privateKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "expiresIn": 3600,
        "expiresInType": "num",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "sign": "user",
        "signType": "msg",
        "notBefore": "",
        "notBeforeType": "num",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "466fe941650891c4"
            ]
        ]
    },
    {
        "id": "466fe941650891c4",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 12",
        "func": "msg.payload = { token: msg.payload };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 320,
        "wires": [
            [
                "ba6d3e4576690e8d"
            ]
        ]
    },
    {
        "id": "ca92d0cf38cc8fa1",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 580,
        "wires": [
            [
                "266e2ac5e9ae2868"
            ]
        ]
    },
    {
        "id": "efc2ecc451caab37",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 660,
        "wires": [
            [
                "2ac942dd4fafd962"
            ]
        ]
    },
    {
        "id": "2ac942dd4fafd962",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 540,
        "y": 660,
        "wires": [
            [
                "b7ccf828195daa9d"
            ]
        ]
    },
    {
        "id": "3176f7dc4c9017d7",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "Gerar-log",
        "func": "const now = new Date().toISOString();\n\nconst userName = msg.payload.name;\nconst route = \"/veiculos/inserir\";\n\nconst logEntry = `[${now}][${userName}][${route}]: ${JSON.stringify(msg.payload)}`;\n\nlet logs = flow.get(\"logs\") || [];\n\nlogs.push(logEntry);\n\nflow.set(\"logs\", logs);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 420,
        "wires": [
            [
                "2850e51dc8b3dbda"
            ]
        ]
    },
    {
        "id": "3a0b8b5abc860260",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 540,
        "wires": [
            [
                "faa11aa113e8e6bd"
            ]
        ]
    },
    {
        "id": "faa11aa113e8e6bd",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 520,
        "y": 540,
        "wires": [
            [
                "5718d44be8d4de38"
            ]
        ]
    },
    {
        "id": "266e2ac5e9ae2868",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "22b91667282cd53c"
            ]
        ]
    },
    {
        "id": "fe527af7383f65a9",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 480,
        "y": 880,
        "wires": [
            [
                "6536798f2570ce67"
            ]
        ]
    },
    {
        "id": "7c1502a697e580f8",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 580,
        "y": 820,
        "wires": [
            [
                "416ee531ccb7dcc6"
            ]
        ]
    },
    {
        "id": "aff74b7dce384112",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "colors",
        "url": "/colors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "2d7707838c0525c5"
            ]
        ]
    },
    {
        "id": "2d7707838c0525c5",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 3",
        "func": "msg.payload = global.get('colorsTable');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "0ce68cce514a52c6"
            ]
        ]
    },
    {
        "id": "0ce68cce514a52c6",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "",
        "headers": {},
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "c389ed6fc6b93f26",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "models",
        "url": "/models",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "a638a01bb2ee90be"
            ]
        ]
    },
    {
        "id": "a638a01bb2ee90be",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 9",
        "func": "msg.payload = global.get('modelsTable');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "f9b512136bf6f7ed"
            ]
        ]
    },
    {
        "id": "f9b512136bf6f7ed",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "",
        "headers": {},
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "884d9d1ac8aaab0c",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "listar-veiculo-id",
        "url": "/listar-veiculo-id",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "7afb33d92f016d56"
            ]
        ]
    },
    {
        "id": "c0795fb9745f1567",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 940,
        "wires": []
    },
    {
        "id": "e156779fadeeb85e",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 13",
        "func": "let uuid = msg.request.uuid;\n\nconst veiculos = flow.get('veiculo') || [];\n\nif (!uuid) {\n    msg.payload = { error: \"UUID não informado\" };\n    return msg;\n}\n\nlet veiculo = veiculos.find(veiculo => veiculo.uuid === uuid);\n\nif(veiculo) {\n    msg.payload = {\n        'message': 'veiculo identificado',\n        'veiculo': veiculo\n    }\n    return msg\n}\n\nmsg.payload = {\n    'message': 'Usuario inexistente'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 940,
        "wires": [
            [
                "c0795fb9745f1567"
            ]
        ]
    },
    {
        "id": "7afb33d92f016d56",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 940,
        "wires": [
            [
                "6c88b8c6dec4d6b7"
            ]
        ]
    },
    {
        "id": "6c88b8c6dec4d6b7",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 520,
        "y": 940,
        "wires": [
            [
                "e156779fadeeb85e"
            ]
        ]
    },
    {
        "id": "ef20ad63d2cc5f7b",
        "type": "http in",
        "z": "e771a27fee406b2a",
        "name": "alterar-veiculo-id",
        "url": "/alterar-veiculo-id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1000,
        "wires": [
            [
                "0969ae314d9b20fa"
            ]
        ]
    },
    {
        "id": "ee40c14b1363bb74",
        "type": "http response",
        "z": "e771a27fee406b2a",
        "name": "Resposta-HTTP",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 1000,
        "wires": []
    },
    {
        "id": "989282fe68c0a670",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "function 14",
        "func": "let veiculos = flow.get('veiculo') || [];\nlet updateDate = new Date().toISOString();\n\nif (!Array.isArray(veiculos)) {\n    veiculos = [];\n}\n\nconst requisicao = msg.request;\nconst uuid = requisicao.uuid;\n\nif (!uuid) {\n    msg.payload = { error: \"UUID não informado\" };\n    return msg;\n}\n\nlet veiculoExistente = veiculos.find(v => v.uuid === uuid);\nif (!veiculoExistente) {\n    msg.payload = { error: \"Veículo não encontrado\" };\n    return msg;\n}\n\n// Lista models e colors salvos\nlet models = flow.get('models') || [];\nlet colors = flow.get('colors') || [];\n\nlet modelObj = models.find(m => m.uuid === requisicao.modelUuid);\nlet colorObj = colors.find(c => c.uuid === requisicao.colorUuid);\n\nconsole.log(modelObj)\nconsole.log(colorObj)\n\nif (!modelObj || !colorObj) {\n    msg.payload = { error: \"Model ou Color não encontrado\" };\n    return msg;\n}\n\nlet veiculoAtualizado = {\n    uuid: uuid,\n    model: { uuid: modelObj.uuid, modelName: modelObj.modelName },\n    color: { uuid: colorObj.uuid, colorName: colorObj.colorName },\n    year: requisicao.year,\n    imagePath: requisicao.imagePath,\n    creationUserName: veiculoExistente.creationUserName,\n    creationDate: veiculoExistente.creationDate,\n    updateDate: updateDate\n};\n\n// Remove e reinsere\nveiculos = veiculos.filter(v => v.uuid !== uuid);\nveiculos.push(veiculoAtualizado);\nflow.set('veiculo', veiculos);\n\nmsg.payload = { message: \"Veículo atualizado\", veiculo: veiculoAtualizado };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1000,
        "wires": [
            [
                "ee40c14b1363bb74"
            ]
        ]
    },
    {
        "id": "0969ae314d9b20fa",
        "type": "function",
        "z": "e771a27fee406b2a",
        "name": "formatar jwt",
        "func": "msg.request = msg.payload\n\nvar authHeader = msg.req.headers['authorization'];\n\nif (authHeader && authHeader.startsWith(\"Bearer \")) {\n    msg.token = authHeader.substring(7);\n    msg.jwtSecret = \"minha_chave_secreta\";\n    return [msg, null];\n} else {\n    msg.statusCode = 401;\n    msg.payload = { error: \"Token não enviado ou mal formatado\" };\n    return [null, msg];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "7d72608e25a2022c"
            ]
        ]
    },
    {
        "id": "7d72608e25a2022c",
        "type": "jwt verify",
        "z": "e771a27fee406b2a",
        "name": "Validar-Geracao-JWT",
        "algorithms": "HS256",
        "mode": "secret",
        "secret": "jwtSecret",
        "secretType": "msg",
        "publicKey": "",
        "publicKeyType": "str",
        "jwkid": "",
        "jwkidType": "str",
        "jwkurl": "",
        "jwkurlType": "str",
        "ignoreExpiration": "false",
        "ignoreExpirationType": "bool",
        "ignoreNotBefore": "true",
        "ignoreNotBeforeType": "bool",
        "audience": "",
        "audienceType": "str",
        "issuer": "",
        "issuerType": "str",
        "token": "token",
        "maxAge": "",
        "maxAgeType": "num",
        "constraints": [],
        "x": 520,
        "y": 1000,
        "wires": [
            [
                "989282fe68c0a670"
            ]
        ]
    }
]